{% extends "base.html" %}

{% block title %}Projects - {% endblock %}

{% block content %}
<div class="projects-section">
    <h1>My Projects</h1>
    <div class="projects-grid">
        <div class="project-box animate-box">
            <h2>Comming Soon</h2>
            <p>Comming Soon</p>
        </div>
        <div class="project-box animate-box">
            <h2>Comming Soon</h2>
            <p>Comming Soon</p>
        </div>
        <div class="project-box animate-box">
            <h2>Comming Soon</h2>
            <p>Comming Soon.</p>
        </div>
        <div class="project-box animate-box">
            <h2>Comming Soon</h2>
            <p>Comming Soon.</p>
        </div>
        <div class="project-box animate-box">
            <h2>Comming Soon</h2>
            <p>Comming Soon.</p>
        </div>
        <div class="project-box animate-box">
            <h2>Comming Soon</h2>
            <p>Comming Soon.</p>
        </div>
    </div>
</div>

<!-- Footer -->
<footer>
    <p>Coded by <span>𝄟⃝🖤 𝚃𝚄𝚂𝙷𝙰𝚁 𝄟⃝🖤</span> using <span>Flask & Python</span></p>
    <p>© 2024 𝄟⃝🖤 𝚃𝚄𝚂𝙷𝙰𝚁 𝄟⃝🖤</p>
</footer>

<script>
    // Add animation delay to each project box
    document.querySelectorAll('.project-box').forEach((box, index) => {
        box.style.transitionDelay = `${index * 0.2}s`;
    });
</script>
{% endblock %}
